# List

### 1. Write a Python program to sum all the items in a list.

In [4]:
lst = [1,2,4,2,4,2,4,5,1,1,4,6]
print(sum(lst))

36

### 2. Write a Python program to multiplies all the items in a list.

In [5]:
lst = [1,2,4,2,4,2,4,5,1,1,4,6]
product = 1
for _ in lst:
  product *= _

print(product)

61440

### 3. Write a Python program to get the smallest number from a list.

In [7]:
lst = [1,2,4,2,4,2,4,5,1,1,4,6]
print(sorted(lst)[0])

1

###4. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
###Sample List : ['abc', 'xyz', 'aba', '1221']
###Expected Result : 2

In [8]:
lst = ['abc', 'xyz', 'aba', '1221']
count = 0
for string in lst:
  if len(string) > 1 and string[0] == string[-1]:
    count += 1
print(count)

2

### 5. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
###Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
###Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [11]:
lst = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
lst.sort(key = lambda x : x[1])
print(lst)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

### 6. Write a Python program to remove duplicates from a list.

In [12]:
lst = [1,2,4,2,4,2,4,5,1,1,4,6]
lst= list(set(lst))
print(lst)

[1, 2, 4, 5, 6]

### 7. Write a Python program to clone or copy a list.

In [17]:
lst = [1,2,4,2,4,2,4,5,1,1,4,6]
lst_new = lst.copy()

lst_new

[1, 2, 4, 2, 4, 2, 4, 5, 1, 1, 4, 6]

### 8. Write a Python program to find the list of words that are longer than n from a given list of words.

In [20]:
lst = ['asfvd', 'asgrds', 'ad', 'svfsd', 'sdf']
n = int(input("Value for n:"))
string_list = []
for string in lst:
  if len(string) > n:
    string_list.append(string)
print(string_list)

Value for n:2
['asfvd', 'asgrds', 'svfsd', 'sdf']

### 9. Write a Python function that takes two lists and returns True if they have at least one common member.

In [21]:
lst_1 = ['abc', 'bcd', 'asd', 'qwe', 'aab']
lst_2 = ['sdf', 'adfg', 'asd', 'ass', 'wdd']
longer_list_size = len(lst_1) if len(lst_1) > len(lst_2) else len(lst_2)
for i in range(longer_list_size):
  if lst_1[i] == lst_2[i]:
    print(True)
    break

True

### 10. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
###Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
###Expected Output : ['Green', 'White', 'Black']

In [24]:
lst = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
indices = [0,4,5]
new_lst = []

for i in range(len(lst)):
  if i not in indices:
    new_lst.append(lst[i])

print(new_lst)

['Green', 'White', 'Black']

### 11. Write a Python program to generate all permutations of a list in Python.

In [30]:
def generate_permutations(lst):
  for i in range(len(lst)):
    for j in range(i,len(lst)):
      print(i,j)

lst = [1,2,3,4,5,6]
generate_permutations(lst)

0 0
0 1
0 2
0 3
0 4
0 5
1 1
1 2
1 3
1 4
1 5
2 2
2 3
2 4
2 5
3 3
3 4
3 5
4 4
4 5
5 5

### 12. Write a Python program to get the difference between the two lists.

In [31]:
lst_1 = ['abc', 'bcd', 'asd', 'qwe', 'aab']
lst_2 = ['sdf', 'adfg', 'asd', 'ass', 'wdd']
diff_lst = []

for string in lst_1:
  if string not in lst_2:
    diff_lst.append(string)

print(diff_lst)

['abc', 'bcd', 'qwe', 'aab']

###13. Write a Python program to append a list to the second list.

In [33]:
lst_1 = ['abc', 'bcd', 'asd', 'qwe', 'aab']
lst_2 = ['sdf', 'adfg', 'asd', 'ass', 'wdd']
for string in lst_1:
  lst_2.append(string)

lst_2

['sdf', 'adfg', 'asd', 'ass', 'wdd', 'abc', 'bcd', 'asd', 'qwe', 'aab']

### 14. Write a python program to check whether two lists are circularly identical.

In [36]:
a = [1,2,3,4,5]
b = [3,4,5,1,2]

if str(a)[1:-1] in str(b * 2)[1:-1]:
  print (True)
else:
  print(False)

True

### 15. Write a Python program to find common items from two lists.

In [39]:
lst_1 = ['abc', 'bcd', 'asd', 'qwe', 'aab']
lst_2 = ['sdf', 'adfg', 'asd', 'ass', 'wdd']
new_lst = []

for string in lst_1:
  if string in lst_2:
    new_lst.append(string)
new_lst

['asd']

### 16. Write a Python program to split a list based on first character of word.

In [41]:
lst = ["apple", "banana", "apricot", "blueberry", "cherry", "avocado", "carrot"]
char_dict = {}

for string in lst:
  if string[0] in char_dict:
    char_dict[string[0]].append(string)
  else:
    char_dict[string[0]] = [string]

char_dict

{'a': ['apple', 'apricot', 'avocado'],
 'b': ['banana', 'blueberry'],
 'c': ['cherry', 'carrot']}

###17. Write a Python program to remove duplicates from a list of lists.
###Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
###New List : [[10, 20], [30, 56, 25], [33], [40]]

In [47]:
lst = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]

new_lst = []

for idx, item in enumerate(lst):
  if item not in lst[idx+1:] and item not in new_lst:
    new_lst.append(item)

new_lst

[[30, 56, 25], [10, 20], [33], [40]]