# Sets

###1. Write a Python program to create a set.

In [2]:
st = set([1,2,3,4,5])
st

{1, 2, 3, 4, 5}

###2. Write a Python program to iteration over sets.

In [12]:
st = set([1,2,3,4,5])
for item in st:
  print(item)

1
2
3
4
5

###3. Write a Python program to add member(s) in a set.

In [13]:
st = set([1,2,3,4,5])
sum = 0
for item in st:
  sum += item

print(sum)

15

###4. Write a Python program to remove item(s) from set

In [15]:
st = set([1,2,3,4,5])
st.remove(5)
st

{1, 2, 3, 4}

###5. Write a Python program to remove an item from a set if it is present in the set.

In [16]:
st = set([1,2,3,4,5])
st.clear()
st

set()

###6. Write a Python program to create an intersection of sets.

In [17]:
st1 = set([1,2,3,4,5])
st2 = set([3,4,5,6,7])
print(st1.intersection(st2))

{3, 4, 5}

###7. Write a Python program to create a union of sets.

In [18]:
st1 = set([1,2,3,4,5])
st2 = set([3,4,5,6,7])
print(st1.union(st2))

{1, 2, 3, 4, 5, 6, 7}

###8. Write a Python program to create set difference.

In [19]:
st1 = set([1,2,3,4,5])
st2 = set([3,4,5,6,7])
print(st1.difference(st2))

{1, 2}

###9. Write a Python program to create a symmetric difference.

In [20]:
st1 = set([1,2,3,4,5])
st2 = set([3,4,5,6,7])
print(st1.symmetric_difference(st2))

{1, 2, 6, 7}

###10. Write a Python program to clear a set.

In [27]:
st = set([1,2,3,4,5])
st.clear()
st

set()

###11. Write a Python program to use of frozensets.

In [28]:
fs = frozenset([1,2,3,4,5])
fs

frozenset({1, 2, 3, 4, 5})

###12. Write a Python program to find maximum and the minimum value in a set.

In [29]:
st = set([1,2,3,4,5,6])
print(min(st),max(st))

1 6