# Tuple

###1. Write a Python program to create a tuple.

In [4]:
tup = tuple([1,2,3,4,5])
tupp = (1,2,3,4,5)
print(tup,tupp)

(1, 2, 3, 4, 5) (1, 2, 3, 4, 5)

###2. Write a Python program to create a tuple with different data types.

In [5]:
tup = (1,3.14,'subbu',True)
tup

(1, 3.14, 'subbu', True)

###3. Write a Python program to unpack a tuple in several variables.

In [6]:
integer, double, string, Bool = (1,3.14,'subbu',True)
print(integer, double, string, Bool)

1 3.14 subbu True

###4. Write a Python program to create the colon of a tuple.

In [14]:
from copy import deepcopy
tup = (1,3.14,'subbu',True,[3])
tupp = deepcopy(tup)
tupp[4].append(5)
print(tup,tupp)

(1, 3.14, 'subbu', True, [3]) (1, 3.14, 'subbu', True, [3, 5])

###5. Write a Python program to find the repeated items of a tuple.

In [18]:
tup = (1,3,5,5,2,6,31,1,5,7,3)
repeated = set()
seen = []
for item in tup:
  if item not in seen:
    seen.append(item)
  else:
    repeated.add(item)
repeated

{1, 3, 5}

###6. Write a Python program to check whether an element exists within a tuple.

In [20]:
tup = (1,3,5,5,2,6,31,1,5,7,3)
target = 31
if target in tup:
  print(True)

True

###7. Write a Python program to convert a list to a tuple.

In [21]:
lst = [1,2,3,4,5]
tup = tuple(lst)
tup

(1, 2, 3, 4, 5)

###8. Write a Python program to remove an item from a tuple.

In [23]:
tup = (1,3,5,5,2,6,31,1,5,7,3)
target = 31
lst = list(tup)
lst.remove(target)
tup = tuple(lst)
tup

(1, 3, 5, 5, 2, 6, 1, 5, 7, 3)

###9. Write a Python program to slice a tuple.

In [25]:
tup = (1,3,5,5,2,6,31,1,5,7)
print(f"First Half {tup[:len(tup)//2]}")

First Half (1, 3, 5, 5, 2)

###10. Write a Python program to reverse a tuple.

In [29]:
tup = (1,3,5,5,2,6,31,1,5,7)
tup = tup[::-1]
tup

(7, 5, 1, 31, 6, 2, 5, 5, 3, 1)